<p>Want some good reading?  Make a selection below:</p>
<p>test3: push this from test-branch to origin:master</p>
<%= button_to "quote", quote_path(1), :method => :get %>
<%= button_to "joke", joke_path(1), :method => :get %>